* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */
td {
  background-color: lightgray;
  width: 50px;
  height: 50px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}
